Over the last week...

#### 🙋 {{unique_users['total']}} unique accounts were on the DT

#### 🚩 {{flair_census[0]['name']}} was the most active flair with {{flair_census[0]['count']}} people

Followed by {{flair_census[1]['name']}} ({{flair_census[1]['count']}}) and {{flair_census[2]['name']}} ({{flair_census[2]['count']}}).

#### 🏳️‍🌈 {{queer_census['total']}} people wore pride flairs
