#### EXTRA EXTRA! The DT's ☝️ memeiest bandwagoners

| | Redditor | Comments |
|:-:|:-|-:|
| 🥇 | {{ memeiest[0]['author'] }} | {{ memeiest[0]['meme_count'] }} pointy hands |
| 🥈 | {{ memeiest[1]['author'] }} | {{ memeiest[1]['meme_count'] }} pointy hands |
| 🥉 | {{ memeiest[2]['author'] }} | {{ memeiest[2]['meme_count'] }} pointy hands |
| | {{ memeiest[3]['author'] }} | {{ memeiest[3]['meme_count'] }} pointy hands |
| | {{ memeiest[4]['author'] }} | {{ memeiest[4]['meme_count'] }} pointy hands |
| | {{ memeiest[5]['author'] }} | {{ memeiest[5]['meme_count'] }} pointy hands |
| | {{ memeiest[6]['author'] }} | {{ memeiest[6]['meme_count'] }} pointy hands |
| | {{ memeiest[7]['author'] }} | {{ memeiest[7]['meme_count'] }} pointy hands |
| | {{ memeiest[8]['author'] }} | {{ memeiest[8]['meme_count'] }} pointy hands |
| | {{ memeiest[9]['author'] }} | {{ memeiest[9]['meme_count'] }} pointy hands |

---

^(Stats are processed periodically throughout the day. Check my post history for previous reports.)

^(I am a bot and this action was performed automatically. Send feedback to inhumantsar.)